@use '../../GlobalStyles.scss' as *;

.wrapper {
  width: 100%;

  .buttonsWrapper {
    height: calc(100vh - 500px);
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 24px;

    .picturesWrapper {
      justify-content: space-around;
    }

    .lineWrapper {
      align-items: flex-end;
      justify-content: space-between;

      .input {
        label {
          font-size: $text-small-size;
        }

        input {
          margin-right: 16px;
          width: 100px;
        }
      }

      button {
        margin-bottom: 0;
      }
    }
  }
}
