@use '../../GlobalStyles.scss' as *;

.square {
  border: solid 0.5px $white;
  height: $square-size;
  width: $square-size;
  background-color: $light-mint;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: $mint;
  }
  &.alive {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s linear;
  }

  &.dead {
    opacity: 0.1;
    transition: opacity 0.2s ease-out;
  }
}
