$light-mint: #5fae96;
$mint: #017451;
$white: #fff;
$dark-gray: #333;
$darker-gray: #313131;
$black: #0d0f0e;
$square-size: 20px;
$side-menu-width: 300px;
$main-font-family: 'Noto Sans', sans-serif;
$text-color-on-dark: rgba(255, 255, 255, 0.8);
$text-body-size: 14px;
$text-small-size: 11px;

body {
  padding: 0;
  margin: 0;
  font-family: $main-font-family;
  font-size: $text-body-size;
  font-weight: 300;
}

.flex {
  display: flex;
}

h2 {
  font-size: 34px;
  font-weight: 300;
}

h5 {
  font-size: 14px;
  font-weight: 400;
  margin: 12px 0;
}

p {
  margin-top: 0;
}

button,
a {
  transition: all 0.4s ease-in-out;
}

a {
  color: $text-color-on-dark;

  &:hover {
    color: $light-mint;
  }
}

input {
  padding: 14px;
  border: none;
  border-radius: 4px;
}
